/* 공통 */

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    overflow:auto;
}

header{
    position: fixed !important;
    width: 100%;
    justify-content: center;
    align-items: center;
    width:100%;
    height:50px; 
    left:0px;
    top:-13px;
    background-color: rgb(6, 68, 32);
    position: relative;
}


/* 제목 */
h1{
    position:relative;
    font-size:40px;
    color: rgb(0, 0, 0);
    font-weight:500;
    top:70px;
    left:65px; 
    margin-left: auto; 
    margin-right: auto;
    width:430px;
    border-bottom:3px solid rgb(172, 204, 180);
    z-index:0;

}

h3{
    position:relative;
    font-size:20px;
    color: rgb(0, 0, 0);
    font-weight:500;
    top:100px;
    left:70px; 
    margin-left: auto; 
    margin-right: auto;
    width:420px;
    z-index:0;
}

#top{
    position:relative
}

/* 제목 옆 이미지 */
#topImg{ 
    position:relative;
    display:block; 
    margin:auto;
    width:95px;
    height:95px;
    left:-210px;
    top:-55px;
    border-bottom:2px;
    z-index:2;
}

#img{
    position:relative;
    width:200px;
    height:200px;
    left:1200px;
    top:-130px;
    z-index:2;
}

/* 테이블 */
.table{
    position:relative;
    width:820px;
    height:200px;
    top:-10px;  
    /* left:45px; */
    margin-left: auto; 
    margin-right: auto;
    text-align:center;
    border-collapse: collapse;
    border-top: 3px solid rgb(172, 204, 180);
}

.table th {
    color: rgb(38, 57, 65);
    background: rgb(228, 239, 231);
    text-align: center;
  }

.table th, .table td {
    padding: 10px;
    border: 1px solid #ddd;
  }


.table th:first-child, .table td:first-child {
    border-left: 0;
}

.table th:last-child, .table td:last-child {
    border-right: 0;
}

.table tr{
    background: rgb(253, 250, 246);
}

.table tr td:first-child{
    text-align: center;
}
  
.table caption{caption-side: bottom; display: none;
}

/* --------------------------------------- */

/*식물 이미지 띄워주는 부분*/
#plant_image{
    position:relative
}

/* 식물 이미지 사이즈 500*500 고정 */
#P_img{
    position:relative;
    display:block; 
    margin:auto;
    width:500px;
    height:500px;
    /* left:270px; */
    top:-10px;
    z-index:2;
}

/* --------------------------------------- */

/*피드백 입력*/
#text{
    position:relative;
    text-align:center;
    display:block; 
    margin:auto;
    top:-80px;
    /* left:300px;  */
    /* 밑은 창 크기 조절 */
    width:600px;
    height:600px;
    font-size:18px;
}

/*제출 버튼*/
#sub{
    position:relative;
    top:-70px;
    left:550px; 
    width:50px;
    height:30px;
    font-size:15px;
}

/*뒤로가기 버튼*/
#delete{
    position:relative;
    top:-100px;
    left:490px; 
    width:50px;
    height:30px;
    font-size:15px;
    background-color: black;
    color:white;
}

/* --------------------------------------- */

/* 포인트 리스트, 장터 포스트 버튼 */
#post_button{
    position:relative;
    /* top:-45px; */
    top:-25px;
    /* left:580px;  */
    left:450px; 
    width:370px;
    height:30px;
    font-size:15px;
}

/* 장터 마감 */
#post_button2{
    position:relative;
    top:-25px;
    left:450px; 
    width:370px;
    height:30px;
    font-size:15px;
}


/* 식물 일지 내용 테이블 */
.plant_table{
    position:relative;
    width: 750px;
    height:200px;
    top:25px;  
    /* left:230px; */
    margin-left: auto; 
    margin-right: auto;
    margin-bottom:150px;
    text-align:center;
    border-collapse: collapse;
    border-top: 3px solid rgb(172, 204, 180);
}

.plant_table th {
    color: rgb(38, 57, 65);
    background: rgb(228, 239, 231);
    text-align: center;
  }

.plant_table th, .plant_table td {
    padding: 10px;
    border: 1px solid #ddd;
  }


.plant_table th:first-child, .plant_table td:first-child {
    border-left: 0;
}

.plant_table th:last-child, .plant_table td:last-child {
    border-right: 0;
}

.plant_table tr td:first-child{
    text-align: center;
}
  
.plant_table caption{caption-side: bottom; display: none;
}


/* 상품 리스트(장터) */
/* https://yang9808.tistory.com/13 참고 */
.con {
    position:relative;
    top:-5px;
    margin-left: auto;
    margin-right: auto;
    max-width:100%;
}

.cell {
    float: left;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-left: 50px;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}
.img-box > img {
    display: block;
    width: 170px;
    object-fit: scale-down;
    padding-top: 10%;
    padding-bottom: 12%;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.list > ul > li {
    /* width: 240px; */
    width: calc(100% / 4);
}

.list > ul > li {
    padding: 0 10px;
}
.list > ul {
    margin: 0 -10px;
}

.list > ul > li > .product-name {
    width : 100%;
    text-align: Center;
    font-weight: bold;
    background-size: auto;
    padding-top: 10%;
    padding-bottom:10%;
    background-color: rgb(253, 250, 246);
}
.list > ul > li:hover > .product-name {
    text-decoration: underline;
}
.list > ul > li > .product-price {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    background-size: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: rgb(228, 239, 231);
}
.list > ul > li > .product-price::after {
    content: " point";
    font-size: 1rem;
    font-weight:normal;
}

.feedback{
    width:820px;
    height:50px;
}

.btn{
    width:820px;
}