<!-- 전체 아이템 리스트 by 장터 -->
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>아이템 리스트</title>
    <link rel="stylesheet" href="{% static 'All.css' %}">
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" type="text/javascript"></script>
    
   <div class="design">
        <div id="student_list">
             <header>
            </header>
            <div id="head">
            <h3>아이템 리스트</h3>
            <h1>Product list</h1>
        </div>
    
        <div id="top">
            <img id="topImg" src="{%static 'item/box.png' %}"/>
         </div>
    </div> 

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input id = "post_button" role="button" type="submit" name="submit_btn" value="market open"/><br/>
    </form>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %} 
        <input id = "post_button2" role="button" type="submit" name="submit_btn" value="market close"/><br/>
    </form>

    <div class="list con">
        <ul class="row">
            <li class="cell">
                <div class="img-box"><img src="{%static 'market/watering.png' %}" alt=""></div>
                <div class="product-name">Automatic watering
                    <br><br>[ count: {{item1.count}} ]</div>
                <div class="product-price">{{item1_price}}</div>
            </li>
            <li class="cell">
                <div class="img-box"><img src=".{%static 'market/cooler.png' %}" alt=""></div>
                <div class="product-name">Automatic ventilation motor operation
                    <br> [ count: {{item2.count}} ] </div>
                <div class="product-price">{{item2_price}}</div>
                
            </li>
            <li class="cell">
                <div class="img-box"><img src="{%static 'market/light.png' %}" alt=""></div>
                <div class="product-name"> Automatic mood light operation
                    <br> [ count: {{item3.count}} ] </div>
                <div class="product-price">{{item3_price}}</div>
            </li>
        </ul>
  
</body>


</html>


<script>
    // 장터 개시, 마감, 포인트 전송 버튼
    var open = document.getElementById('post_button');
    open.addEventListener('click', function(){
        alert('장터를 개시하였습니다.');
    })

    var end = document.getElementById('post_button2');
    end.addEventListener('click', function(){
        alert('장터를 마감하였습니다.');
    })

</script>