{% load static %}
<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<title>MAIN</title>
    <link rel="stylesheet" href="{% static 'main/main_style.css' %}">
</head>
<body>
    <div class='whole_container'>
        <header> 
            <div class='inner'>
               <!-- <div class='logo'>logo자리
                    <a href=''></a>
                </div>  -->
            </div>
        </header>
       

        <div class='main_container'>

            <div class='main_ment'>
                <!-- <p class='ment'>녹색 활동을 통한</p> -->
                <p class='ment'>Proper growth</p>
            </div>
            <div class='main_ment'>
                <!-- <p class='ment'>올바른 성장 </p> -->
                <p class='ment'>Through green activities</p>
            </div>
            <div class='main_ment_sub'>
                <p class='ment_sub'>Eco-friendly education and economic concept practice</p>
                <p class='ment_sub'>Guidance for proper growth day by day</p>
            </div> 

            <div class = 'main_page_link'>
                <ul>
                    <li class='link_li'>
                        <a href="{% url 'administrator:check_purchase' %}" class='link_a'>Product purchase status</a>
                    </li>
                    <li class='link_li'>
                        <a href="{% url 'administrator:requirement' %}" class='link_a'>Requirements</a>
                    </li>
                    <li class='link_li'>
                        <a href="{% url 'administrator:student-log' %}" class='link_a'>Student point</a>
                    </li>
                    <li class='link_li'>
                        <a href="{% url 'administrator:item-update' 2 %} " class='link_a'>Product management</a>
                    </li>
                </ul>
             </div>

            <div class='menu_list'>
                <ul>
                    <li class='menu_box'>
                        <a href="{% url 'administrator:observation' %}">
                        {% comment %} 관찰일지 목록 {% endcomment %}
                        <img class='img_main_foot' src="{%static 'main/observe.png' %}"/>
                        </a>
                    </li>
                    <li class='menu_box'>
                        <a href="{% url 'administrator:point_list' %}">
                        {% comment %} 포인트 항목 {% endcomment %}
                        <img class='img_main_foot' src="{%static 'main/point_list.png' %}"/>
                        </a>
                    </li>
                    <li class='menu_box'>
                        <a href="{% url 'administrator:market' %}">
                        {% comment %} 장터 {% endcomment %}
                        <img class='img_main_foot' src="{%static 'main/market.png' %}"/>
                        </a>
                    </li>
                    <!-- <li class='menu_box'>
                        <a href="">링크당</a>
                    </li> -->
                </ul>
            </div>

        </div>
    </div>


</body>
</html>